doctype html
html
    head
        link(rel='stylesheet', href='/stylesheets/style.css')
        title web page from pug 
    body
        h1 Node Server CRUD Application
        br 
        block content 
        block update
        block delete
        hr
        footer
            p Copyright &copy;2024